*.sh
*.d.ts
*.md
*.woff
*.ttf
*.min.js
/build
/sign
/docs
/bin
/.quickapp
node_modules
dist
coverage
Dockerfile
.vscode
.idea
.husky
.local
.env
.env.development
.env.development.local
.env.production
.env.production.local
