$color-green:#64bb5c;
$color-red:#e64566;
$color-blue:#46b1e3;
$color-gray:#5d5e5d;
$color-blue-dark:#254ff7;
$color-a:#0a59f7;
$color-secondary:rgba(0, 0, 0, 0.6);
$color-primary:rgba(0, 0, 0, 0.9);
$color-divider-border:rgba(0, 0, 0, 0.05);

$left-right-gap:32px;

$radius-big:32px;
$radius-small:16px;
$btn-font-weight:500;